Source: shadow
Section: base
Priority: required
Maintainer: Shadow package maintainers <pkg-shadow-devel@lists.alioth.debian.org>
Standards-Version: 3.6.1.1
Uploaders: Christian Perrier <bubulle@debian.org>, Sam Hartman <hartmans@debian.org>
Build-Depends: autoconf, automake1.7, libtool, bzip2, gettext, libpam0g-dev [!hurd-i386], texinfo, file, debhelper (>= 4.1.16), po-debconf, libpam-runtime (>= 0.76-14)

Package: passwd
Architecture: any
Depends: ${shlibs:Depends}, ${loginpam}
Conflicts: shadow-passwd, pam-apps, suidregister (<< 0.50), debconf (<< 0.5)
Replaces: shadow-passwd
Replaces: manpages (<=1.15-2), manpages-de (<= 0.4-4), manpages-fr, manpages-hu, manpages-it, manpages-ja, manpages-ko, manpages-pl (<= 20020406-1)
Section: base
Priority: required
Description: change and administer password and group data
 This package includes passwd, chsh, chfn, and many other programs to
 maintain password and group data.
 .
 Shadow passwords are supported.  See /usr/share/doc/passwd/README.Debian

Package: login
Architecture: any
Pre-Depends: ${shlibs:Depends}, libpam-runtime (>= 0.76-14)
Depends: libpam-modules (>= 0.72-5)
Conflicts: shadow-login, pam-apps, secure-su, suidregister (<< 0.50)
Replaces: shadow-login, shadow-passwd, shellutils (<< 2.0-2), manpages-fr, manpages-hu, manpages-it, manpages-ko, manpages-ja, manpages-pl (<= 20020406-1)
Essential: yes
Section: base
Priority: required
Description: system login tools
 These tools are required to be able to login and use your system. The
 login program invokes your user shell and enables command execution. The
 newgrp program is used to change your effective group ID (useful for
 workgroup type situations). The su program allows changing your effective
 user ID (useful being able to execute commands as another user).
